* {
  box-sizing:border-box;
  color: #2F3438;
}
a{
  color: #2F3438;
}
li,a,button{
  text-decoration: none;
  list-style: none;
}
ul, p{
  margin:0;
}
.navigation-bar{
  width:100%;
  display:flex;
  height:80px;
  padding: 10 60px;
  justify-content:space-between;
  align-items:center;
  max-width: 1256px;
  margin: 0 auto;
  background-color: white;
  z-index:1;
}
.category-menu{
  display:flex;
  /* flex-wrap:wrap; */
  /* flex-grow:1; */
  flex: 1 1 0px;
  width:100%;
  font-size:1.1rem;
  font-weight:500;
}
@media(max-width:1200px){
  .category-menu{
    display:none;
  }
}
.category-menu li{
    display:inline-block;
    padding: 0 20px;
}
.category-menu a:hover{
  color:#F7E1AE;
}
.account-menu{
  display:flex;
  /* flex-grow:2; */
  /* flex-basis:auto; */
  flex: 0 1 650px;
}
.account-menu li{
  display:inline-block;
  padding: 0 10px;
}
.logo{
  display:inline-flex;
  align-items: center;
  margin:-4px;
}
.logo img{
  width:30%;
  height:30px;
  object-fit: cover;
}
#logo-text{
  font-size:1.3rem;
  font-weight:700;
  margin-right:35px;
  flex:0 0 auto;
}
.search-box{
  display:flex;
  height:100%;
  flex: 1 1 0px;
  min-width:0;

  align-items:center;
  box-sizing:border-box;
  border: 1px solid #DADDE0;
  border-radius:4px;
  height:40px;
  padding: 0 14px;
  width:100%;
  margin:0 10px;
}
@media(max-width:650px){
  .search-box{
    display:none;
  }
}
.search-text{
  flex:1 0 0%;
  vertical-align: middle;
  display: inline-block;
  margin:0;
  padding:0;
  border:none;
  background:none;
  height:100%;
  outline:none;
  font-size:16px;
  line-height:24px;
  padding: 0 10px;
}
.account-menu search-box i{
  color:#828C94;
  font-size:22px;
}
.write-button{
  border:none;
  margin:0;
  background:none;
  font-size:14px;
  line-height:18px;
  display:inline-block;
  align-items: center;
  width:auto;
  height:40px;
  border-radius:4px;
  padding:0 16px;
  box-sizing: border-box;
  background-color: #F7E1AE;
  line-height:0;
}
.write-button span{
  vertical-align: middle;
}
.write-button:hover{
  transition: transform 0.5s ease;
  filter: brightness(80%);
}
.write-button i{
  font-size:18px;
  line-height:1;
  vertical-align: middle;
}
#write-text{
  margin-right:6px;
}
.account-detail{
  display:flex;
  align-items: center;
}
.account-detail-ls{
  display:flex;
  line-height:0;
  margin-right:5px;
}
#signup{
  border-left: 1.4px solid #EAEDEF;
  padding: 0 10px;
}
.scrap{
  margin-right:20px;
  padding-top:3px;
  font-size:1.2rem;
  transform: scale(1.3, 1);
  padding-left:10px;
}
.scrap i{
  color:#696969;
}
.profile img{
  vertical-align:middle;
  width:80%;
  height:80%;
  object-fit: cover;
}
.profile{
  display: inline-block;
  margin:0;
  padding:0;
  border:none;
  background:none;
  width:40px;
  height:40px;
  border-radius: 100%;
  outline:none;
}
.profile-dropdown{
position:absolute; 
right:150px; 
background-color:white; 
z-index:1;  
box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
border-radius: 6px;
width: 120px;
padding: 8px;
height:auto;
display:none;
}
.display{
  display:block;
}