{% extends 'base.html' %}
{% block head %}
{% load static %}
  <link rel="stylesheet" href="{% static 'detail/style.css' %}">
{% endblock head %}
{% block content %}
{% load static %}



<!--게시글 제목-->
<div class="content-detail-section">
  <!--헤더-->
  <div class="content-detail-header">
    <h1 class="content-detail-title">{{ article.title }}</h1>
    <div class="content-header-bottom">
      <div class="content-detail-author">
        <a href="{% url 'accounts:profile' article.user.username %} "><b>{{ article.user.nickname }}</b></a>
        <p>{{ article.time_since_created }}</p>
      </div>

        <!--팔로우 & 언팔-->
        {% if request.user != article.user %}
          <form id='follow-form' data-user-id="{{ article.user.pk }}">
            {% comment %} <form id='follow-form' data-user-id="{{ article.user.pk }}" action="{% url 'accounts:follow' article.pk %}" method='POST'> {% endcomment %}
            {% csrf_token %}
            {% if request.user in article.user.followers.all %}
                <input class="follow-button" type='submit' value="언팔로우">
                   
              {% else %}
                <input class="follow-button" type='submit' value="팔로우">
                  
              {% endif %}
          </form>
          

        {% else %}
          <div class="edit-section">
            <button type="button" aria-label="수정하기, 삭제하기 버튼열기" onclick="openButton()">
              <i class="ri-more-fill">
              <div class="dropdown-content" id="mydropdown">
                <a href="{% url 'articles:update' article.pk %}" method='POST' class="dropdown-text">수정하기</a>
                <form action="{% url 'articles:delete' article.pk %}" method='POST'>
                    {% csrf_token %}
                    <input type="submit" value='삭제하기' class="dropdown-text" style="color: rgb(255, 119, 119);">
                </form>
              </div>
            </i>
            </button>
          </div>
        {% endif %}
    </div>
    <!--본문-->
    <div>
      {% if article.image %}
      <img src="{{ article.image.url }}" alt="image" style="width: 100%">
      {% else %}
      <img src="{% static 'No_img.webp' %}" alt="image" style="width: 100%">
      {% endif %}
    </div>
    <div>{{ article.content }}</div>
    <!--좋아요수, 스크랩수, 댓글수, 조회수-->
    <div class="content-detail-stat">
      <p class="content-detail-stat-item">좋아요 {{article.like_users.all|length}} </p>
      <p class="content-detail-stat-item">스크랩 {{article.scrap.all|length}}</p>
      <p class="content-detail-stat-item">댓글 {{comments|length}}</p>
      <p class="content-detail-stat-item">조회 {{article.view_count}} </p>
    </div>
    <!--댓글-->
    <div class="comment-section">
      <div style="margin-top:3px;">
        <p>댓글
          <span class="comment-count">{{comments|length}} </span>
        </p>
      </div>
      
      <form class="comment-box" action="{% url 'articles:create_comment' article.pk %}" method='POST'>
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value='댓글 작성'>
      </form>
      <div>
        {% for comment in comments %}
        <b><div>{{ comment.user.nickname }}</div></b>
        <div>{{ comment.content }}</div>
        <div class='d-flex justify-content-between'>
          <div>
            <div class="comment-time">{{ comment.time_since_created }} 전</div>
            <button type="button" class="like-comment">
              <i class="ri-heart-line"></i>
              <a href="#"><span class="like-text">좋아요</span></a>
            </button>
          </div>
        <div>
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}">
            <input style='font-size:12px;' type="submit" value='삭제'>
          </form>
        </div>
      </div>
    </div>  
      <hr>
      {% endfor %}
  </div>
    
  
  {% comment %} 리뷰 글 좋아요 수 ajax 안먹음 수정 필요  {% endcomment %}
  <div class="content-sidebar">
    <p id="liked-count" class="ms-4">{{article.like_users.all|length}} </p>

    <form class="like-forms" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      {% if request.user in article.like_users.all %}
      <input type="submit" value='좋아요 취소' id="like-{{ article.pk }}">

      {% else %}
      <input type="submit" value='좋아요' id="like-{{ article.pk }}">

      {% endif %}
    </form>

    <!--
    <form action="{% url 'articles:likes' article.pk %}" method="POST" class="mb-4">
      {% csrf_token %}
      {% if request.user in article.like_users.all %}
      {% comment %} <input class="like-button" type="submit" value="좋아요 취소"> {% endcomment %}


      <button class="like-button m-0" title="좋아요 취소" type="submit">
        <i class="ri-heart-fill heart-fill"></i>
      </button>
      <p class="ms-4">{{article.like_users.all|length}} </p>
      {% else %}
        {% comment %} <input class="like-button" type="submit" value="좋아요"> {% endcomment %}
        <button class="like-button m-0" title="좋아요" type="submit">
          <i class="ri-heart-line heart-icon"></i>
        </button> 
        <p class="ms-4">{{article.like_users.all|length}} </p>
        
      {% endif %}
    </form>
    -->



      <form action="{% url 'articles:scrap' article.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in article.scrap.all %}
        <button class="like-button m-0" title="스크랩 취소" type="submit">
          <i class="ri-bookmark-fill bookmark-fill"></i>
        </button>
        <p class="ms-4">{{article.scrap.all|length}} </p>
        {% else %}
        <button class="like-button m-0" title="스크랩" type="submit">
          <i class="ri-bookmark-line"></i>
        </button>
        <p class="ms-4">{{article.scrap.all|length}} </p>  
        {% endif %}
      </form>
  </div>

</div>

  

  {% comment %} 페이지네이션 컴포넌트 시작 {% endcomment %}
  <ul class="pagination justify-content-center">
    {% comment %}
        이전 페이지 버튼
        이전 페이지가 존재할 경우 이전 페이지 버튼 활성화
    {% endcomment %}
    {% if comments.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ comments.previous_page_number }}">이전</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    {% comment %}
        페이지 번호 리스트 생성 반본북
    {% endcomment %}
    {% for page_number in comments.paginator.page_range %}
      {% comment %}
        페이지 번호가 무한히 생성되는 것을 막는 조건문
        현재 페이지에서 +- 5 까지 생성
      {% endcomment %}
      {% if page_number >= comments.number|add:-5 and page_number <= comments.number|add:5 %}
        {% if page_number == comments.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% comment %}
        다음 페이지 버튼
        다음 페이지가 존재할 경우 다음 페이지 버튼 활성화
    {% endcomment %}
    {% if comments.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ comments.next_page_number }}">다음</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
    {% endif %}
  </ul>
  {% comment %} 페이지네이션 컴포넌트 끝 {% endcomment %}





<!-- {% block timer %}
<div class="sec7-text-box">
  <p>오픈날짜</p>
  <p class="runTimeCon">2023년 04월 29일 AM 00시</p>
  <hr/>
  <p class="time-title">오픈까지 남은 시간</p>
  <div class="time">
    <span id="d-day-hour"></span>
    <span class="col">:</span>
    <span id="d-day-min"></span>
    <span class="col">:</span>
    <span id="d-day-sec"></span>
  </div>
</div>
{% endblock timer %} -->

<br>



<a href="{% url 'articles:index' %}">뒤로가기</a>

<hr>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  function openButton(){
    document.getElementById("mydropdown").classList.toggle("show");
    console.log(document.getElementById("mydropdown"))
  }



  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  form.addEventListener('submit', function (event) {
    event.preventDefault()

    const userId = event.target.dataset.userId

    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken': csrftoken,}
    })
    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > input[type=submit]')
      if (isFollowed === true) {
        followBtn.value = '언팔로우'
      } else {
        followBtn.value = '팔로우'
      }
    })
  })



  const like_form = document.querySelectorAll('.like-forms')
  {% comment %} const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value {% endcomment %}

  like_form.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const articleId = event.target.dataset.articleId
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const isLiked = response.data.is_liked
        const likeBtn = document.querySelector(`#like-${articleId}`)

        if (isLiked === true) {
          likeBtn.value = '좋아요 취소'
        } else {
          likeBtn.value = '좋아요'
        }
        const likedConutTag = document.querySelector('#liked-count')
        const likedconut = response.data.liked_conut
        likedConutTag.textContent = likedconut
      })
      .catch((error) => {
        console.log(error.response)
      })

    })
  })





</script>
{% endblock content %}


