{% extends 'base.html' %}

{% block content %}
<h1>Main - {{ user }}</h1>

<p>
    <a href="{% url 'articles:create' %}">리뷰 작성</a>
</p>

<div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'accounts:logout' %}" method=='POST'>
        {% csrf_token %}
        <input type="submit" value='로그아웃'>
    </form>
    
    {% else %}
        <a href="{% url 'accounts:signup' %}">회원가입</a>
        <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
</div>

<hr>
<br>

{% for article in articles %}
<div>
    <p>후기 작성자 - {{ article.user }}</p>
    <p><a href="{% url 'articles:detail' article.pk %}">제목 - {{ article.title }}</a></p>
    <form action="{% url 'articles:likes' article.pk %}" metgod='POST'>
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
        <input type='submit' value='좋아요 취소'></input>

        {% else %}
        <input type='submit' value='좋아요'></input>

        {% endif %}
    </form>
    <span>{{ article.like_users.all|length }}</span>

   
    <div class="sec7-text-box">
        <p>오픈날짜</p>
        <p class="runTimeCon">2023년 04월 29일 AM 00시</p>
        <hr/>
        <p class="time-title">오픈까지 남은 시간</p>
        <div class="time">
            <span id="d-day-hour-{{article.pk}}"></span>
            <span class="col">:</span>
            <span id="d-day-min-{{article.pk}}"></span>
            <span class="col">:</span>
            <span id="d-day-sec-{{article.pk}}"></span>
        </div>
    </div>
</div>

<hr>
<br>
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function remaindTime() {
        {% for article in articles %}
          var now = new Date();
          var open = new Date(2023, 03, 29, 00, 00, 00);
          var nt = now.getTime();
          var ot = open.getTime();
          if (nt < ot) {
            var sec = parseInt((ot - nt) / 1000);
            var hour = parseInt(sec /3600);
            sec = sec % 3600;
            var min = parseInt(sec / 60);
            sec = sec % 60;
            if (hour < 10) {
              hour = "0" + hour;
            }
            if (min < 10) {
              min = "0" + min;
            }
            if (sec < 10) {
              sec = "0" + sec;
            }
            $("#d-day-hour-{{ article.pk }}").html(hour);
            $("#d-day-min-{{ article.pk }}").html(min);
            $("#d-day-sec-{{ article.pk }}").html(sec);
          } else {
            $("#d-day-hour-{{ article.pk }}").html('00');
            $("#d-day-min-{{ article.pk }}").html('00');
            $("#d-day-sec-{{ article.pk }}").html('00');
          }
        {% endfor %}
      }
      setInterval(remaindTime, 1000);
      </script>
{% endblock content %}



