/* 기본 폰트 */

* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* login_page */
.login-div{
  margin: 0px auto;
  padding: 140px 0px;
  max-width: 300px;
}

.login-logo-size{
  width: 50px;
  height: 50px;
}

.login-logo-p{
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  white-space: nowrap;
}

.login-logo-a{
  text-decoration: none;
  color: black;
}

.login-span{
  color: white;
  font-weight: bold;
}
.login-btn{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #FFF8D6;
  border-radius: 8px;
  opacity: 1;
  
}

.login-btn:hover{
  opacity: 0.6;
}


.login-singup-password-a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.login-section-div{
  margin: 35px 0 15px;
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
}

.login-path-icon{
  opacity: 1;
}

.login-path-icon:hover{
  opacity: 0.8;
}

.login-error{
  margin-top: 24px;
  line-height: 18px;
}

.login-errpr-a{
  text-decoration: none;
  color: #c2c8cc;
  font-size: 14px;
}

.login-nonmember{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #dbdbdb;
}

.login-footer{
  padding-top: 8px;
  width: 100% ;
  font-size: 9px;
  line-height: 20px;
  margin: -5px 0 25px;
  color: #757575;
}

.login-footer-a{
  text-decoration: none;
  color: #757575;
}

.login-footer-a:hover{
  text-decoration: underline;
}

/* signup_page */
.signup-section{
  margin-bottom:30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.signup-main{
  margin: 0 15px;
  padding-top: 40px;
}

.signup-div{
  margin: 0px auto;
  padding: 60px 0px;
  max-width: 360px;
}

.signup-at{
  text-align: center;
  line-height: 30px;
  color: #dbdbdb;
  font-weight: bold;
}

.signup-h{
  font-size: 20px;
  font-weight: bold;
}

.signup-section-div{
  margin: 15px 0 15px;
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
}

.signup-btn{
  width: 360px;
  height: 50px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #A4D0A4;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 30px;
}

.signup-btn:hover{
  background-color: #d9e9d9;
  opacity: 0.9;
}

.signup-p{
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2F3438;
}
.signup-sub-p{
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #828C94;
}

.signup-checkbox{
  border: 1px solid #EAEDEF;
  width: 360px;
}

.signup-checkbox-a{
  width: 322px;
  margin-bottom: 20px !important;
}

.signip-checkbox-detail{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.signip-checkbox-essential{
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #009FCE;
}
.signip-checkbox-select{
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
}

.signup-checkbox-all{
  color:#8A959B;
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

.signup-login-p{
  font-size: 14px;
}

.signup-login-a{
  color:black;
  margin-left: 8px;
  opacity: 1;
}

.signup-login-a:hover{
  opacity: 0.8;
}

/* profile */

.profile-main-div{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.profile-main-btn{
  border: 1px solid #DADDE0;
}

.profile-main-btn:hover{
  background-color: #F1F3F5;
}

.profile-main-btn-Collapse{
  margin-top: 20px;
  margin-left: 90%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 -1px 16px rgba(0,0,0,.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 124px;
}

.profile-main-username{
  font-size: 20px;
  line-height: 28px;
  display: block;
  margin-top: 8px;
  font-weight: 700;
  color: #2F3438;
  
}

.bp-tab {
  display: flex;
  margin: 0;
}

.bp-tab li {
  margin: 0;
  text-align: center;
  font-size: 1.125rem;
}

.bp-tab-button {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  background-color: #ffffff;
  font-weight: bold;
  color: #868b94;
}

.bp-content {
  margin-top: 1.5rem;
}

.bp-tab-button {
  width: 100%;
  padding: 1rem;
  border: 0;
  background-color: #ffffff;
  font-weight: bold;
  color: black;
}

.bp-tab-button.active {
  color: #F7E1AE;
  border-bottom: 2px solid #F7E1AE;
}
